@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --dust-grey: #dad7cd;
  --dry-sage: #a3b18a;
  --fern: #588157;
  --hunter-green: #588157;
  --pine-teal: #588157;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-syne);

  --color-dust-grey: var(--dust-grey);
  --color-dry-sage: var(--dry-sage);
  --color-fern: var(--fern);
  --color-hunter-green: var(--hunter-green);
  --color-pine-teal: var(--pine-teal);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
